
/* 여기어때의 '잘난체' 웹폰트 적용 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal; /* 텍스트를 얼마나 두껍게 표현할지를 설정함. */
    font-style: normal;
}

.login-h2 {
    font-size: 17px;
    letter-spacing: -0.5px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    margin: 24px 0px 20px;
}

.login-form-innerButton {
    padding: 0px;
    border: none;
    cursor: pointer;
    background: rgb(255, 47, 110);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 22px;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    margin: 16px 0px 0px;
}

.login-form-innerLabel {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(245, 245, 245);
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0px 12px;
    border-radius: 6px;
}

.login-form-innerInputEmail {
    background: transparent;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.6px;
    line-height: 21px;
    width: 100%;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    caret-color: rgb(255, 47, 110);
}

.login-form-innerInputPassword {
    background: transparent;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.6px;
    line-height: 21px;
    width: 100%;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    caret-color: rgb(255, 47, 110);
}